body {
    margin: 0;
    padding: 30px;
    background: linear-gradient(135deg, #111, #5f5f5f);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: #1f1f1f;
    border: 2px solid #313030;
    border-radius: 15px;
    overflow: hidden;
}

.sidebar {
    width: 300px;
    background-color: #181818;
    color: white;
    padding: 30px;
}

.sidebar p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar i {
    margin-right: 10px;
    color: white;
}

.profile-pic {
    width: 180px;
    height: 180px;
    margin: 0 auto 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    margin-top: 35px;
}

.sidebar p {
    line-height: 1.6;
}

nav {
    margin-top: 30px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

nav a:hover {
    color: #66b3ff;
    transform: translateX(5px);
}
span{
border-radius: 20px;
padding: 6px 12px;
background: #2c2c2c;
color: white;
}
.skill-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.skill-tags span:hover {
    transform: translateY(-2px);
    background-color: #3a3a3a;
    cursor: default;
    transition: 0.3s;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2c;
    color: white;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form button:hover {
    background-color: #3a3a3a;
}
.main-content {
    flex: 1;
    padding: 40px;
    color: white;
}

.main-content h1 {
    font-size: 32px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-top: 40px;
}

.education ul,
.languages ul {
    list-style: none;
    padding: 0;
}

.education li,
.experience li {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
    line-height: 1.8;
}

.education li:hover,
.experience li:hover {
    transform: translateY(-3px);
}

ol {
    padding-left: 25px;
}

ol li {
    margin-bottom: 10px;
}

.additional-info,
.objective {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    line-height: 1.8;
}
.additional-info:hover,
.objective:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}
#theme-toggle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #2c2c2c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
#theme-toggle i {
    font-size: 18px;
    display: block;
    margin: auto;
}
#theme-toggle:hover {
    transform: scale(1.1);
    background: #3a3a3a;
}
#download {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #2c2c2c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
#download i {
    font-size: 18px;
    display: block;
    margin: auto;
}
#download:hover {
    transform: scale(1.1);
    background: #3a3a3a;
}
.lighttheme {
    background: linear-gradient(135deg, #e9e4e4, #5e5c5c);
    color: #111;
}
.lighttheme .container {
    background-color: #ffffff;
    color: #111;
}

.lighttheme .sidebar {
    background-color: #f0f0f0;
    color: #111;
}

.lighttheme .main-content {
    color: #111;
}

.lighttheme .education li,
.lighttheme .experience li,
.lighttheme .additional-info,
.lighttheme .objective {
    background-color: #dddddd;
    color: #111;
}
.lighttheme nav a {
    color: #111;
}
.lighttheme nav i {
    color: #111;
}
.lighttheme nav a:hover {
    color: #66b3ff;
    transform: translateX(5px);
}
.lighttheme span {
    background: #c1c1c1;
    color: #111;
}
.lighttheme .skill-tags span:hover {
    background-color: #e9e4e4;
}
.lighttheme .skill-tags i {
    color: #111;
}
.lighttheme .sidebar p i {
    color: #111;
}
.lighttheme .profile-pic {
    border: 3px solid #111;
}
.lighttheme .profile-pic img {
    filter: grayscale(0);
}
.lighttheme #download i {
    color: #e9e4e4;
}
.lighttheme #download:hover {
    transform: scale(1.1);
}
.lighttheme .contact-form input,
.lighttheme .contact-form textarea {
    background-color: #c1c1c1;
    color: #111;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        padding: 20px;
    }
    .email {
    font-size: 13.25px;
    overflow-wrap: break-word;
    }
    .main-content {
        padding: 20px;
    }
    .sidebar h1 {
        font-size: 28px;
    }
    .sidebar h2 {
        font-size: 20px;
    }
    .education li,
    .experience li p,
    .additional-info,
    .objective{
    padding: 12px;
    margin: 5px 0;
    line-height: 1.8;
    }
    img {
    max-width: 100%;
    height: auto;
    }
    .contact-form button {
    width: 100%;
    }
    .contact-form input,
    .contact-form textarea {
    padding: 8px;
    }
}